body{
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

p {
    margin: 10px 0; /* 段距：上下端距为20px，左右端距为0 */
    padding: 0;     /* 内边距：上下和左右均为0 */
    line-height: 1.4em; /* 行距，略小于段距 */
}


/* #region-隐藏滚动条 */
html, body {/* 对于 WebKit 浏览器，如 Chrome 和 Safari */
    overflow: auto; /* 保留滚动功能 */
    -ms-overflow-style: none; /* 适用于 Internet Explorer 和 Edge */
    scrollbar-width: none; /* 适用于 Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}
/* #endregion */

@font-face {
    font-family: 'pixel';
    src: url('../contents/fonts/fusion-pixel-12px-monospaced-zh_hans.ttf') format('truetype');
}


@font-face {
    font-family: 'youyaEng';
    src: url('../contents/fonts/GARABD.TTF') format('truetype');
}

@font-face {
    font-family: 'cuteTitle';
    src: url('../contents/fonts/XiangJiaoDaJiangJunLingGanTi-2.ttf') format('truetype');
}


@font-face {
    font-family: 'zhengwen';
    src: url('../contents/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'zhengwenl';
    src: url('../contents/fonts/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'zhengwenb';
    src: url('../contents/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BoldEng';
    src: url('../contents/fonts/taileb.ttf') format('truetype');
}

@font-face {
    font-family: 'ST';
    src: url(../contents/fonts/江西拙楷2.0.ttf) format('truetype');
}