.body {
    margin-top: 5%;
}

.tab-container {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tab-content {
    padding: 20px;
    display: none;
}


.container {
    margin: 3% auto; /* 上下边距为 3%，左右边距自动以实现居中 */
    background-color: #fff;
    border-radius: 22px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
    width: 90%; /* 设置适当的宽度 */
    max-width: 1200px; /* 可选，设置最大宽度 */
    padding: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
}

.container2 img {
    max-width: 100%; /* 限制图片最大宽度为容器宽度 */
    height: auto;   /* 保持图片的原始纵横比 */
    display: block; /* 去除图片底部的间隙 */
}


.item {
    flex: 1 1 45%; /* 允许元素增长和缩小，初始宽度为45% */
    margin: 10px;
    min-width: 300px; /* 设置最小宽度，防止内容过小 */
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

/* #region-search */

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box-wrapper {
    display: flex;
    align-items: center;
    width: 48%;
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search-box {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.search-box:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.search-box-wrapper {
    display: flex;
    align-items: center;
    width: 48%;
    position: relative;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 10px;
}

.search-button img {
    width: 20px;
    height: 20px;
}
/* #endregion */

.link-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.link-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.link-item a {
    text-decoration: none;
    color: #0078d7;
    font-size: 18px;
}

/* #region-map */
.map-container {
    width: 50%;
    max-width: 100%;
    margin: 0 auto; /* 居中对齐容器 */
    overflow: hidden;
    position: relative;
    cursor: grab;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

.map-container:hover {
    transform: scale(1.3); /* 略微放大容器 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
}

.map-image {
    width: 100%; /* 图片宽度为容器的100% */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center center;
    position: relative;
}


.map-image.enlarged {
    transform: scale(1.5); /* 放大1.5倍 */
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
    cursor: grab;
}

.map-image.dragging {
    cursor: grabbing;
}

/* #endregion */
