* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    background-size: cover;
} */

#nav {
    position: relative;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 0px 0px 9px #00000033;
    padding: 10px;
    justify-content: space-around;
}

#nav li a {
    position: relative;
    padding: 18px 15px;
    font: 500 24px 'cuteTitle';
    border: none;
    outline: none;
    color: rgb(28, 34, 52);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 60px;
    border-radius: 1.5em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(192, 203, 242);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}