* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    background-size: cover;
} */

#nav {
    position: relative;
    border: none;
    border-radius: 1em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 0px 0px 9px #00000033;
    padding: 10px;
    justify-content: space-around;
}

#nav li a {
    position: relative;
    padding: 0.75rem 0.9375rem;
    font: 600 1.1rem 'zhengwen';
    border: none;
    outline: none;
    color: rgb(28, 34, 52);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

/* 针对大屏幕设备（如桌面电脑） */
@media (min-width: 1024px) {
    #nav li a {
        font-size: 1.2rem; /* 增大字体 */
        padding: 0.7rem 1.125rem; /* 增大 padding */
    }
}

/* 针对中等屏幕设备（如平板电脑） */
@media (min-width: 768px) and (max-width: 1023px) {
    #nav li a {
        font-size: 1.1rem; /* 保持默认字体大小 */
        padding: 0.7rem 0.9375rem; /* 保持默认 padding */
    }
}

/* 针对小屏幕设备（如手机） */
@media (max-width: 767px) {
    #nav li a {
        font-size: 1rem; /* 缩小字体 */
        padding: 0rem 0.65rem; /* 缩小 padding */
    }
}



/* Default styles for slide1 and slide2 */
.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    border-radius: 1.5em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    height: auto;
}

.slide1 {
    background-color: rgb(192, 203, 242);
    z-index: 2;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

/* Media query for touch devices */
@media (max-width: 768px), (pointer: coarse) {
    .slide2 {
        display: none; /* Hide slide2 on touch devices */
    }
}


.squeeze {
    transform: scale(0.9);
}