* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    background-size: cover;
} */

#nav {
    position: relative;
    border: none;
    border-radius: 1em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 0px 0px 9px #00000033;
    padding: 10px;
    justify-content: space-around;
}

#nav li a {
    position: relative;
    padding: 0.75rem 0.9375rem; /* 使用rem单位 */
    font: 500 1.5rem 'cuteTitle'; /* 默认字体大小为1.5rem */
    border: none;
    outline: none;
    color: rgb(28, 34, 52);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

/* Default styles for slide1 and slide2 */
.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    border-radius: 1.5em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    height: auto;
}

.slide1 {
    background-color: rgb(192, 203, 242);
    z-index: 2;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

/* Media query for touch devices */
@media (max-width: 768px), (pointer: coarse) {
    .slide2 {
        display: none; /* Hide slide2 on touch devices */
    }
}


.squeeze {
    transform: scale(0.9);
}